
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<br />
<h3 style="text-align:center">About</h3>
<br />
<hr />
<br />
<div class="row" style="margin:0 5%">
    <div class="col-6">
        <div class="card card-body">
            <h5>Bussiness Information</h5>
            <div>
                <i class="fas fa-flag"></i>
                <span>Opened on 25 June 2021</span>
            </div>
            <div>
                <i class="fas fa-brain"></i>
                <span>Mission</span>
                <p>Our vision is to provide modern library management system.</p>
            </div>
        </div>
        <br />
        <div class="card card-body">
            <h5>Meet Our Team</h5>
            <div>
                <i class="fas fa-user-cog"></i>
                <span>Anubhav Chatterjee</span>
            </div>
            <div>
                <i class="fas fa-user-cog"></i>
                <span>Amrita Dey</span>
            </div>
            <div>
                <i class="fas fa-user-cog"></i>
                <span>Anwesha Dey</span>
            </div>
            <div>
                <i class="fas fa-user-cog"></i>
                <span>Atreyee Paul</span>
            </div>
            <div>
                <i class="fas fa-user-cog"></i>
                <span>Debadrita Biswas</span>
            </div>
        </div>

    </div>
    <div class="col">
        <img style="width:100%; height:380px; object-fit: cover;" src="https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
</div>
<br />


